
{% extends "jogos/layout_base/base.html" %}
{% load static %}

{% block conteudo %}
  <div class="box">
    <div class="container">
        <div class="row ">
          <div class="col-md-12">
            <h1>Escolha a competicao Aberta </h1>
            {% for competicao in competicoes %}
            <p>
           <a href="{{ competicao.get_absolute_url }}">Competicao: {{ competicao.nome }} </a>
            </p>
           
            {% endfor %}
            
          </div><!-- end md-12 -->
          <div class="col-md-12">
            <hr>
            <h1>Escolha a competicao Encerrada </h1>
            {% for competicao in competicoes_encerrada %}
            
            <p><a href="{{ competicao.get_absolute_url }}">Competicao: {{ competicao.nome }} </a></p>
           
            {% endfor %}
            
          </div><!-- end md-12 -->
          <hr>
          <h1> <a href="{% url 'jogos:add_competicao' %}">Add Competicao:</a></h1>

        </div><!-- end row -->
    </div> <!-- end container -->
  </div><!--end box- -->


  {% endblock %}